.App {
  display: flex;
}

.App .container {
  width: 100%;
  flex-grow: 1;
  padding: 0 60px;
}

/* Responsive styles */
@media (min-width: 324px) and (max-width: 768px) {
  .App .menu-open {
    position: absolute;
    top: 4.5%;
    left: 3%;
  }

  .App .menu-close {
    position: absolute;
    top: 5%;
    left: 3%;
  }

  .open {
    display: none;
  }

  .close {
    display: block;
  }
}

@media (min-width: 768px) {
  .App .menu-open {
    display: none;
  }

  .App .menu-close {
    display: none;
  }
}
